<%=form_for @friendrequest, url: user_friendrequests_path, html: { method: :post } do |f| %>


<div>
  <%= f.select(:status, ["accept", "decline"]) %>
  <%= f.submit "send request!" %>
  <% end %>
</div>
