.user-card {
	width: 1000px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	background-color: #fff;
}

.user-image-thumb {
	max-width: 33.33%;
	max-width: calc(100% / 3);
	margin: 0;
	float: left;
}

.google_maps {
	border: 0px;
	width: 100%;
	height: 300px;
	border-radius: 50px;
}

.user-picture {
	max-width: calc(100% / 1.8);
	margin: 0;
	float: right;
	border-radius: 1.3em;
	box-shadow: 2px 2px 5px #888888;
  border: 0.5px solid black;
}

.user-show {
	background-color: #F2F7FF;
  box-shadow: 7px 7px 5px #888888;
  border:1px solid black;
	padding: 15px;
}
